<main>
	<div class="row">
		<div class="jumbotron">
			<h1>{{item.full_name}}</h1>
		</div>
		
			<div class="row">
			<h2>Age</h2>
			<p>{{item.age}}</p>
			</div>
			
			<div class="row">
			<h2>Home Town</h2>
			<p>{{item.home_town}}</p>
			</div>
			
			<div class="row">
			<h2>Net Worth</h2>
			<p>&#36;{{item.net_worth}}</p>
			</div>
		
		<div class="row">
		<img src="img/{{item.img}}">
		</div>
			
				
<p><a class="btn btn-default" href="#/" role="button">Back to List</a>
			</p>
	</div>
</main>